<h2><%= @email.subject %></h2>
<p><%= @email.content %></p>
<p><%= @email.tag %></p>

<%= link_to "Delete ðŸ—‘ï¸",
  email_path(@email),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
